doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='style.css', type = 'text/css')  
	body
		a(href='/') Home
		br
		br 
		h1 Welcome to the Awesome Blog
		br
		br 
		br 
		h3 All posts:
		each post in posts
			li 
				|	Title: #{post.title} 
				br
				br 
				|	#{post.body}
	