doctype html
html(lang='en')
	head
		link(rel='stylesheet', href='style.css', type = 'text/css')  
	body
		a(href='/') Home
		br
		br 
		h1 Welcome
		br
		h2 Login
		br	
		form(class='form' name='post' action='/login' method='post')
			label Name
			input(type='text' name='name' placeholder='Name' autocomplete='off')
			label Password
			input(type='text' name ='password' placeholder='Password' autocomplete='off')
			input(type='submit' value='Login') 