doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='/style.css', type = 'text/css')  
	body
		div#bodydiv
			a(href='/') Home
			br
			br 
			h1 Welcome to the Awesome Blog
			br
			a(href='/logout') Logout
			br 
			a(href='/login') Profile
			br 
			a(href='/user/:id') User Page
			br
			br
			h3 Title: #{post.title} 
			br
			br 
			p	#{post.body}
			br
			br
			h2 New comment
			br
			form(class= "form" name= "comment" action='/comments/new' method='post')
				label Comment
				input(type="text" name ='body' placeholder="Your comment here...please be nice" autocomplete="off")
				input(type='submit' value='Post') 
			br
			br
			h2 All comments
			br
			each comment in comments
				li #{Comment.body} 
	